<!doctype html>
<html>

	<head>
		<title>Unsubscribe from newsletter</title>
		<link rel="stylesheet" href="style.css"></style>
	</head>

	<body>

		<div id="wrapper">
		
			<div id="header">
				<img src="CND-Logo-New.svg" alt="conde Nast" width="70%"> 
			</div><!-- #header -->
	
			<div id="content">	

				<h3>You are unsubscribing from </h3>
		
				<br>
				
				<form action="form.html"> 
					<button>Yes, I wish to unsubscribe</button>
				</form>

				<a href="www.vogue.co.uk" class="no-button">Continue subscription</a> 		
			
						<br>

						<a class="twitter" title="Visit the Conde Nast twitter account" href="https://twitter.com/condenast" class="sir"></a>
							<a class="facebook" title="Visit the website of Condé Nast Digital Ltd." href="http://www.condenast.co.uk/" class="sir"></a>

			</div><!-- #content -->
	
			<div id="footer">
			
				<a class="companyLogo" title="Visit the website of Condé Nast Digital Ltd." href="http://www.condenast.co.uk/" class="sir"></a>
			
				<br>

				<ul>
				    <li><a href="http://www.condenast.co.uk/privacy/?_ga=1.135630648.806916094.1436178910">Privacy Policy &amp; Cookie Statement</a></li>
				   	<li><a href="http://www.condenast.co.uk/terms/?_ga=1.146507965.806916094.1436178910">Terms &amp; Conditions</a></li>
				    <li><a href="http://www.vogue.co.uk/_staticContent/contact-us.htm">Contact Us</a></li>
				</ul>
			</div><!-- #footer -->

		</div><!-- #wrapper -->
	</body>
</html>
