<!doctype html>
<html>

	<head>
		<title>Unsubscribe from newsletter</title>
		<link rel="stylesheet" href="style.css"></style>
	</head>

	<body>


		<div id="wrapper">
		
			<div id="header">
				<img src="CND-Logo-New.svg" alt="conde Nast"> 
			</div><!-- #header -->
	
			<div id="content">	

				<h3>You are unsubscribing from </h3>
		
				<br>

				<button> Yes, Unsubscribe </button>
		
				<button> No, continue subscription </button>
	
			</div><!-- #content -->
	
			<div id="footer">
				<ul>
				    <li>copyright</li>
				    <li>sitemap</li>
				    <li>contact</li>
				    <li>to top</li>
				</ul>
			</div><!-- #footer -->

		</div><!-- #wrapper -->
	</body>
</html>
